<div class="chat_room">
	<div class="chat_window_wrapper">
		<div class="chatWindow">
					
		<div id="messages" class="handshake-<%=current_user.id.to_i%>-<%=params[:user_id]%>">
			<%=render "messages/list"%>
		</div>
			  
			
		</div>
		<div class="chatTextWrapper">
			
		  	<%=form_for @message,:remote=> true do |f|%>
				<%=f.hidden_field :from,:value=>current_user.id%>
				<%=f.hidden_field :to,:value=>params[:user_id]%>
				<%=f.hidden_field :uuid,:value=>[current_user.id.to_s,params[:user_id].to_s].sort.join("-")%>
				<div class="chatBox"><%=f.text_field :content ,"data-behavior"=>"room_speaker"%></div>
				<div class="chatSend"><%=f.submit "Send"%></div>
		  	<%end%>
		  
		</div>
	</div>
</div>

