<%= content_for(:page_title, "CampChat") %>

<div class="usersPageContent">
	<div class="fullPageSingleContainer">
		<div class="homeLogoTitle">
			<%=image_tag 'logo.png'%>
		</div>
		
		<div class="containerTitle">
			Sign In
		</div>
		
		
  
		<div class="notification_wrapper">
			
			
			<% if alert %>
				<%#=render 'layouts/error_notification',:alert=>alert%>
			<% end %>
			
		</div>
		
		<div class="containerOuter">
			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
			<div class="form-app">
				<div class="form-row">
					<div class="input-full">
						<%= f.email_field :email, autofocus: true, autocomplete: "off" ,placeholder: "Email", 
						:readonly=>"readonly", 
						:onfocus=>"this.removeAttribute('readonly');"%>
						
					</div>
				</div>
				
				<div class="form-row">
					<div class="input-full">
						<%= f.password_field :password, autocomplete: "off", placeholder: "Password" , :readonly=>"readonly", :onfocus=>"this.removeAttribute('readonly');"%>
					</div>
					
				</div>
				
				<div class="form-row">
					<div class="submit-full">
						<%= f.submit "Sign in" %>
						<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> 
						
					</div>
				</div>
				
			</div>
			<%end%>
		</div>
		
		
		
	</div>
</div>